* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom left, #9aff9a, #006400);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  color: white;
}
