* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.app {
  background-color: #000000;
  display: grid;
  grid-template-rows: 85% 1fr;
  row-gap: 4px;
  height: 100vh;
  padding: 4px;
}

.cover {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  column-gap: 4px;
}

.sidebar {
  background-color: #000000;
  color: #d4d4d4;
  display: grid;
  grid-template-rows: 18% 1fr;
  row-gap: 4px;
  padding: 4px;
}

.sidenav {
  background-color: #121212;
  border-radius: 7px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  padding: 8px;
}

.nav-item {
  display: flex;
  gap: 12px;
}

.nav-item svg {
  height: 24px;
  width: 24px;
}

.library {
  background-color: #121212;
  border-radius: 7px;
  padding: 12px 8px;
  font-size: 24px;
  font-weight: 500;
}

.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.library svg {
  height: 24px;
  width: 24px;
}

.options {
  padding: 8px 0;
  overflow: hidden;
}

.option {
  display: flex;
  gap: 8px;
  padding: 4px 0;
}

.option-heading {
  font-size: 16px;
  font-weight: 550;
}

.option-subheading {
  font-size: 12px;
  font-weight: normal;
}

.option img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.option-text {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: space-around;
}

.option-heading {
  padding-bottom: 4px;
}

.main {
  background-color: #121212;
  border-radius: 7px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header-icons {
  display: flex;
  gap: 8px;
}
.header-icons svg {
  height: 32px;
}

.icon-less {
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-greater {
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  gap: 8px;
  align-items: center;
}

.greeting {
  padding: 6px 18px ;
  color: white;
}

.greeting-text {
  font-size: 2.4rem;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 12px;
  column-gap: 8px;
  row-gap: 4px;
}

.featured-box {
  background: #171717;
  color: white;
  display: flex;
  gap: 12px;
  margin-bottom: 3px;
  align-items: center;
  border-radius: 7px;
}

.featured-img {
  border-radius: 7px 0 0 7px;
}

.featured-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding-right: 12px;
  cursor: pointer;
}

.play-logo {
  height: 48px;
  display: none;
  fill: #1ed760;
}

.featured-box:hover .play-logo {
  display: inline-block;
}

.featured-shows-container {
  padding: 12px;
  background: #121212;
  color: white;
}

.featured-shows {
  display: flex;
  align-items: center;
}

.featured-show {
  background-color: #171717;
  padding: 12px;
}

.featured-show-img {
  width: 150px;
  height: 150px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.featured-show .show-name {
  font-size: 15px;
  font-weight: 600;
}

.featured-show .show-desc {
  font-size: 12px;
}


.info {
  background-color: lightgreen;
}

.player {
  background-color: lightgrey;
}

.round-icon {
  border-radius: 500px;
}

.link:link,
.link:visited {
  color: white;
  background-color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 100px;
}

.link svg {
  height: 24px;
  width: 24px;
}

.link.round {
  padding: 2px 4px;
}

.heading-secondary {
  font-size: 24px;
  margin-bottom: 8px;
}